<% content_for :title do "Employment Income Manual" end %>

<header id="eim-holding-header">
  <h1>This prototype of the Employment Income Manual is no longer available</h1>
</header>

<div id="eim-holding-content">
  <p>The full Employment Income Manual can be found on the HMRC website: <a href="http://www.hmrc.gov.uk/Manuals/eimanual/Index.htm">http://www.hmrc.gov.uk/Manuals/eimanual/Index.htm</a></p>
</div>
