<header>
  <div class='primary'>
    <span class='manual-type'>HMRC manuals</span>
    <h1>Employment Income Manual</h1>
    <dl>
      <dt>Organisation</dt>
      <dd><a href='#'>HM Revenue &amp; Customs</a></dd>
      <dt>Sectors</dt>
      <dd><a href='#'>Employment</a></dd>
      <dt>Collections</dt>
      <dd><a href='#'>Tax guidance</a></dd>
    </dl>
  </div>
  <div class='secondary'>
    <div class='secondary-inner'>
      <p>
        Manual updated:<time datetime="2014-01-23T00:00:00+01:00">23 January 2014</time>
      </p>
    </div>
  </div>
</header>
<ol class='breadcrumb-trail' role='breadcrumbs'>
  <% @document.breadcrumbs.each do | crumb | %>
    <li> <%= link_to crumb.label, crumb.link %></li>
  <% end %>
  <li class='last-child'><strong><%= @document.section_id %></strong></li>
</ol>
