<header>
  <div>
    <span>HMRC manuals</span>
    <h1>Index Self Assessment manual</h1>
    <dl>
      <dt>Organisation</dt>
      <dd><a href='#'>HM Revenue &amp; Customs</a></dd>
      <dt>Sectors</dt>
      <dd><a href='#'>Employment</a></dd>
      <dt>Collections</dt>
      <dd><a href='#'>Tax guidance</a></dd>
    </dl>
  </div>
  <div>
    <p>
      Manual updated: <time datetime="2014-01-23T00:00:00+01:00">23 January 2014</time>
    </p>
  </div>
</header>
<ol>
  <li><a href='#'>Main contents</a></li>
  <li><a href='#'>Returns</a></li>
  <li>SAM122000 <strong>Partnership returns</strong></li>
</ol>
