<% if group.title %>
  <%= group.title %>
<% end %>
<% group.sections.each do | section | %>
  <h2>
    <%= link_to section.path do %>
    <% if section.section_id %>
      <span class='subsection-id'><%= section.section_id %></span>
    <% end %>
      <span class='subsection-title-text'><%= section.title %></span>
    <% end %>
  </h2>
<% end %>

