<% if presented_manual.hmrc? %>
  <%= render "govuk_publishing_components/components/govspeak", {} do %>
    <div role="note" aria-label="Information" class="application-notice help-notice">
      <p>You should check the other <a href="/government/organisations/hm-revenue-customs/services-information">guidance available on GOV.UK from HMRC</a> as Brexit updates to those pages are being prioritised before manuals.</p>
    </div>
  <% end %>
<% end %>
