<ol class='breadcrumb-trail'>
  <% if request.path == presented_manual.url %>
    <li class="no-separator">Contents</li>
  <% else %>
    <li><%= link_to 'Contents', presented_manual.url %></li>
  <% end %>

  <% if defined?(presented_document) %>
    <% presented_document.breadcrumbs.each do | crumb | %>
      <li> <%= link_to crumb.label, crumb.link %></li>
    <% end %>
    <li class='last-child'><%= presented_document.breadcrumb %></li>
  <% end %>
</ol>
