#manuals-frontend #eim-holding-header {
  background: none;
  color: $black;

  @include media(tablet) {
    margin-top: $gutter;
    padding-left: 0;
  }

  h1 {
    max-width: $full-width;
    @include media(tablet) {
      max-width: $two-thirds;
    }
  }
}

#manuals-frontend #eim-holding-content {
  min-height: 10em;
  max-width: $full-width;

  @include media(tablet) {
    max-width: $two-thirds;

  }

  p {
    @include core-19;
    word-wrap: break-word;

  }
}
