a {
  text-decoration: none;
}

// hide all the unnecessary things
.alpha-label,
.js-title-controls-wrap,
.secondary .feedback,
.in-manual-search {
  display: none;
}

.primary {
  h1 {
    margin: 0 0 10px;
    padding: 0 0 10px;
    font-weight: bold;
  }
}

.manual-body {
  clear: both;

  .subsection-title-text {
    font-weight: bold;
  }
}

.govspeak {
  width: 75%;
}
