a {
  text-decoration: none;
}

// hide all the unecessary things
.alpha-label,
.breadcrumb-trail,
.js-title-controls-wrap,
.print-page,
.secondary .feedback {
  display: none;
}

.primary {
  h1 {
    margin: 0 0 10px;
    padding: 0 0 10px;
    font-weight: bold;
  }

  dl {
    float: left;
    margin-top: 0;
    width: 100%;
    dt {
      min-width: 100px;
      float: left;
      &:after {
        content: ":";
      }
    }
    dd {
      font-weight: bold;
      margin-left: 0;
      & a:after {
          content: "";
      }
    }
  }
}

.manual-body {
  clear: both;
  .subsection-title-text {
    font-weight: bold;
  }
}

.govspeak {
  width: 75%;
}

.js-openable {
  margin-bottom: 30px;

  h2 {
    @include core-16;
    font-weight: bold;
  }
}
