// govuk_frontend_toolkit helpers
@import "typography";
@import "measurements";
@import "colours";
@import "shims";
@import "css3";
@import "grid_layout";

@import "reset";
@import "govspeak";

.outer-block {
  @include outer-block;
}

.inner-block {
  @include inner-block;
}

#hmrc-manuals-frontend {
  header {
    background: $hm-revenue-customs;
    padding: $gutter;
    color: white;
    margin: 0 (-$gutter);
    @include core-16;
    @extend %contain-floats;

    @include media(tablet){
      margin: 5px 0 0 0;

      .primary, .secondary {
        float: left;
      }
      .primary {
        width: $two-thirds;
      }
      .secondary {
        width: $one-third;

        .secondary-inner {
          padding-left: $gutter;
        }
      }
    }

    .manual-type {
      @include heading-24;
    }

    h1 {
      @include core-36;
      font-weight:bold;
      padding: 0 0 $gutter-half 0;

      @include media(tablet){
        padding: 0 0 $gutter 0;
      }
    }

    a {
      color: white;
    }

    time {
      @include bold-19;
      display: block;
    }

    dl {
      margin-bottom: $gutter-half;

      @include media(tablet){
        margin-bottom: $gutter;
      }
    }

    dt {
      float: left;
      clear: left;
      width: auto;
      min-width: 100px;

      @include media(tablet){
        min-width: 120px;
      }

      &:after {
        content: ':';
      }
    }
  }

  .breadcrumb-trail {
    margin:10px 0 0 0;
    padding:0 0;
    border-bottom: 1px solid $border-colour;
    @extend %contain-floats;

    strong {
      font-weight:bold;
    }

    li {
      @include core-16;
      background-image: image-url("separator.png");
      background-position: 100% 10%;
      background-repeat: no-repeat;
      float: left;
      list-style: none;
      margin-left: 5px;
      margin-right: 5px;
      padding: 0 20px 10px 0;

      @include media(tablet){
        background-position: 100% 28%;
      }

      @include device-pixel-ratio() {
        background-image: image-url("separator-2x.png");
        background-size: 6px 11px;
      }

      &.last-child {
        background-image:none;
        color: $secondary-text-colour;
      }
    }
  }

  .manual-section {
    margin-top: $gutter-half;

    @include media(tablet){
      margin-top: $gutter;
    }

    .section-content {
      margin-top: $gutter-half;
       @include media(tablet){
         margin-top: $gutter;
         margin-left:$gutter*2;
       }
    }

    h2 {
      @include heading-27;
      .title {
        font-weight:bold;
        padding-left:$gutter-one-third;
      }
    }

    h3 {
      @include heading-24;
      &.title {
        font-weight:bold;
        margin-bottom: 0;
      }
    }
  }

  .subsection-collection {
    margin-top: $gutter-half;
    @include media(tablet){
      margin-top: $gutter;
    }

    .collection-controls {
      @extend %contain-floats;

      a {
        padding: 0 $gutter-half 0 0;

        @include media(tablet) {
          float:right;
          padding: 0 $gutter 0 0;
        }


        &.disabled {
          color:$secondary-text-colour;
          text-decoration:none;
          cursor:default;
        }
      }
    }
  }

  .manual-subsection {
    @include core-19;
    border-bottom: 1px solid $border-colour;
    padding-bottom: $gutter;
    list-style: none;

    @include media(tablet) {
      margin-left: -$gutter;
      padding-bottom: $gutter*2;
    }

    .subsection-title {
      cursor: pointer;
      padding: $gutter-one-third 0 $gutter-one-third $gutter;
      text-decoration:none;
      display:block;

      .js-enabled & {
        background: image-url("arrows_sprite.png") no-repeat -30px 12px;

        @include device-pixel-ratio() {
          background-image: image-url("arrows_sprite-2x.png");
          background-size: 44px 78px;
        }
      }

      &:hover {
        background-color:$grey-4;
      }

      .subsection-id {
        color: $secondary-text-colour;
        float:left;
      }

      .subsection-title-text {
        margin-left: 100px;
        display:block;

        @include media(tablet) {
           margin-left: 130px;
         }
      }
    }

    .subsection-body {
       @include media(tablet) {
         margin-left: 160px;
       }
    }


    .js-enabled &.closed,
    &.link-out {
      padding:0;

      .subsection-title {
        background: image-url("arrows_sprite.png") no-repeat 0px -51px;

        @include device-pixel-ratio() {
          background-image: image-url("arrows_sprite-2x.png");
          background-size: 44px 78px;
        }
      }

      .subsection-body {
        position:absolute;
        left:-9999px;
        width:100px;
      }

      a {
        color: $link-colour;
      }

      &:hover {
        background-color:$grey-4;
      }
    }

    &.link-out {
      .subsection-title {
        background: image-url("arrows_sprite.png") no-repeat -17px -19px;

        @include device-pixel-ratio() {
          background-image: image-url("arrows_sprite-2x.png");
          background-size: 44px 78px;
        }
      }
    }
  }
}
