$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/component_support';
@import 'govuk_publishing_components/components/accordion';
@import 'govuk_publishing_components/components/breadcrumbs';
@import 'govuk_publishing_components/components/button';
@import 'govuk_publishing_components/components/error-message';
@import 'govuk_publishing_components/components/feedback';
@import 'govuk_publishing_components/components/govspeak';
@import 'govuk_publishing_components/components/hint';
@import 'govuk_publishing_components/components/input';
@import 'govuk_publishing_components/components/label';
@import 'govuk_publishing_components/components/metadata';
@import 'govuk_publishing_components/components/phase-banner';
@import 'govuk_publishing_components/components/previous-and-next-navigation';
@import 'govuk_publishing_components/components/step-by-step-nav-header';

// stylelint-disable selector-no-qualifying-type, max-nesting-depth -- This
// file contains a lot of nesting and various usages of selector rules that
// combine classes with elements. This will likely need a refactor to resolve
// these problems.

// some colours used below
$manual-search-button-border-colour: #222222;

%common-button-styles {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  border-width: 0;
  color: $govuk-link-colour;
  background: none;
  cursor: pointer;

  &:focus {
    @include govuk-focused-text;
  }
}

main {
  display: block;
}

.manuals-frontend-body {
  padding-bottom: govuk-spacing(6);

  header {
    background: $govuk-brand-colour;

    &.hmrc {
      background: govuk-organisation-colour("hm-revenue-customs");
    }

    padding-top: govuk-spacing(6);
    padding-bottom: govuk-spacing(6);
    color: govuk-colour("white");
    margin: 0;
    @include govuk-font(16);
    @include govuk-clearfix;

    @include govuk-media-query($from: tablet) {
      padding: govuk-spacing(6) govuk-spacing(3);
    }

    .manual-type {
      @include govuk-font(24);
    }

    h1 {
      @include govuk-font(36, $weight: bold);
      padding: 0 0 govuk-spacing(3) 0;

      @include govuk-media-query($from: tablet) {
        padding: 0 0 govuk-spacing(6) 0;
      }
    }

    a {
      color: govuk-colour("white");

      &:focus {
        @include govuk-focused-text;
      }
    }

    .in-manual-search {
      position: relative;
      margin: govuk-spacing(6) 0 govuk-spacing(3);

      label {
        padding-bottom: govuk-spacing(1);
        display: inline-block;
      }

      .in-manual-search-box {
        width: 86%;
        width: calc(100% - 47px);
        border: none;
        padding: 9px 7px;
        height: 16px;

        &.focus,
        &:focus {
          position: relative;
          z-index: 1;
          outline-color: $govuk-focus-colour;
          box-shadow: inset 0 0 0 3px govuk-colour("black");
        }

        @include govuk-media-query($from: tablet) {
          padding: 7px;
          height: 20px;
        }
      }

      button {
        width: 34px;
        height: 34px;
        border: 1px solid govuk-colour("black");
        border-width: 0 0 0 1px;
        border-left-color: $manual-search-button-border-colour;
        overflow: hidden;
        text-indent: -5000px;
        cursor: pointer;
        color: govuk-colour("white");
        background: govuk-colour("black") image-url("search-button.png") no-repeat 0 50%;
        position: absolute;

        border-radius: 0;

        @include govuk-device-pixel-ratio {
          background-size: 52.5px 35px;
          background-position: 100% 50%;
        }

        &:focus {
          outline-color: $govuk-focus-colour;
        }
      }
    }
  }

  .breadcrumb-trail {
    @include govuk-font(16);
    margin: govuk-spacing(2) 0 0 0;
    padding: 0 0 govuk-spacing(2);
    border-bottom: 1px solid $govuk-border-colour;

    strong {
      @include govuk-typography-weight-bold;
    }

    li {
      background-image: image-url("separator.png");
      background-position: 100% 20%;
      background-repeat: no-repeat;
      display: inline;
      list-style: none;
      margin-left: 0;
      margin-right: govuk-spacing(1);
      padding: 0 govuk-spacing(3) 0 0;

      @include govuk-media-query($from: tablet) {
        background-position: 100% 45%;
      }

      @include govuk-device-pixel-ratio {
        background-image: image-url("separator-2x.png");
        background-size: 6px 11px;
      }

      &:first-child {
        margin-left: 0;
      }

      &.last-child {
        background-image: none;
        color: $govuk-text-colour;
      }

      &.no-separator {
        background-image: none;
      }

      a {
        color: $govuk-text-colour;

        &:focus {
          @include govuk-focused-text;
        }
      }
    }
  }

  .section-list {
    margin-top: govuk-spacing(6);

    @include govuk-media-query($from: tablet) {
      margin-top: govuk-spacing(9);
    }

    li {
      @include govuk-font(19);
      list-style: none;
      cursor: pointer;
      border-top: 1px solid $govuk-border-colour;

      &:hover {
        background-color: govuk-colour("light-grey", $legacy: "grey-4");
      }

      &:last-child {
        border-bottom: 1px solid $govuk-border-colour;
      }

      a {
        text-decoration: none;
        display: block;
        padding: govuk-spacing(2) govuk-spacing(2) govuk-spacing(2) 0;

        &:focus {
          @include govuk-focused-text;
        }

        @include govuk-media-query($from: tablet) {
          padding-right: 33.3333%;
        }

        .subsection-title-text {
          @include govuk-typography-weight-bold;
          display: block;
        }

        .subsection-summary {
          color: $govuk-text-colour;
          display: block;
        }
      }
    }
  }

  .section-content {
    a:focus {
      @include govuk-focused-text;
    }
  }

  .manual-body {
    margin: govuk-spacing(3) 0 90px;

    @include govuk-media-query($from: tablet) {
      margin-top: govuk-spacing(6);
    }

    .section-title {
      @extend %govuk-heading-m;
    }

    .summary {
      @include govuk-font(24);
      margin-bottom: govuk-spacing(3);

      @include govuk-media-query($from: tablet) {
        max-width: 66.6666%;
        margin-bottom: govuk-spacing(6);
      }
    }

    .body-content-wrapper {
      @include govuk-media-query($from: tablet) {
        width: 66.6666%;
      }
    }

    .footnotes {
      border-top: 0;
      padding-top: 0;
    }
  }

  .updates-list {
    @include govuk-font(19);

    dd {
      margin-bottom: 1em;
      white-space: pre-line;
    }
  }

  .collapsible-subsections {
    @include govuk-media-query($from: tablet) {
      .call-to-action p {
        margin: 0;
      }
    }
  }

  .collapsible-subsections .js-subsection-title {
    @include govuk-font(19, $weight: bold);
    display: block;
    border-top: 1px solid $govuk-border-colour;
    padding: govuk-spacing(2) govuk-spacing(6) govuk-spacing(2) 0;
    margin: govuk-spacing(6) 0;
    position: relative;

    button {
      @extend %common-button-styles;
      @include govuk-typography-weight-bold;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      padding-bottom: 0;
      padding-left: 0;
      text-align: left;
    }
  }

  .subsection-collection {
    margin-top: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      margin-top: govuk-spacing(6);
    }

    .js-title-controls-wrap {
      @include govuk-clearfix;

      .section-title {
        @extend %govuk-heading-m;

        @include govuk-media-query($from: tablet) {
          float: left;
          width: 75%;
        }
      }

      .js-collection-controls {
        display: block;
        margin-left: (- govuk-spacing(1));
        margin-bottom: govuk-spacing(3);

        @include govuk-media-query($from: tablet) {
          margin: 0 0 govuk-spacing(6) (- govuk-spacing(1));
          float: right;
          display: inline-block;
        }

        button {
          @include govuk-font(16);
          @extend %common-button-styles;
          padding: 0 govuk-spacing(1) 0 govuk-spacing(1);
          display: inline-block;

          &.disabled {
            color: $govuk-secondary-text-colour;
            text-decoration: none;
            cursor: default;
          }
        }
      }
    }
  }

  .js-openable {
    border-top: 1px solid $govuk-border-colour;
    padding-bottom: govuk-spacing(6);

    @include govuk-media-query($from: tablet) {
      padding-bottom: govuk-spacing(9);
    }

    .js-subsection-title {
      cursor: pointer;
      margin: 0;
      border: none;

      .js-toggle {
        height: 25px;
        width: 25px;
        display: block;
        background: image-url("arrows_sprite.png") no-repeat;
        position: absolute;
        right: 0;
        top: govuk-spacing(2);

        @include govuk-device-pixel-ratio {
          background-image: image-url("arrows_sprite-2x.png");
          background-size: 32px 50px;
        }
      }
    }

    .js-subsection-body {
      margin-top: govuk-spacing(3);

      @include govuk-media-query($from: tablet) {
        margin-top: govuk-spacing(6);
      }
    }

    .js-enabled &.closed {
      padding: 0;

      .js-toggle {
        background: image-url("arrows_sprite.png") no-repeat 0 -32px;

        @include govuk-device-pixel-ratio {
          background-image: image-url("arrows_sprite-2x.png");
          background-size: 32px 50px;
        }
      }

      .js-subsection-body {
        display: none;
      }
    }
  }

  .hmrc.section-list {
    margin-top: govuk-spacing(6);
    padding-bottom: govuk-spacing(6);

    a {
      padding-right: 0;
    }

    @include govuk-media-query($from: tablet) {
      .title-wrap {
        display: table-row;

        div {
          display: table-cell;
        }
      }
    }
  }

  .subsection-id {
    min-width: 135px;
    color: $govuk-secondary-text-colour;
    padding-right: govuk-spacing(3);
  }

  .print-page {
    display: none;

    .js-enabled & {
      display: block;
    }
  }
}
