// govuk_frontend_toolkit helpers
@import "typography";
@import "measurements";
@import "colours";
@import "shims";
@import "css3";
@import "grid_layout";

@import "reset";
@import "govspeak";

.outer-block {
  @include outer-block;
}

.inner-block {
  @include inner-block;
}

#hmrc-manuals-frontend {
  header {
    background: $hm-revenue-customs;
    padding: $gutter;
    color: white;
    margin: 0 (-$gutter);
    @include core-16;
    @extend %contain-floats;

    @include media(tablet){
      margin: 5px 0 0 0;

      .primary, .secondary {
        float: left;
      }
      .primary {
        width: $two-thirds;
      }
      .secondary {
        width: $one-third;

        .secondary-inner {
          padding-left: $gutter;
        }
      }
    }

    .manual-type {
      @include heading-24;
    }

    h1 {
      @include core-36;
      font-weight:bold;
      padding: 0 0 $gutter-half 0;

      @include media(tablet){
        padding: 0 0 $gutter 0;
      }
    }

    a {
      color: white;
    }

    time {
      @include bold-19;
      display: block;
    }

    dl {
      margin-bottom: $gutter-half;

      @include media(tablet){
        margin-bottom: $gutter;
      }
    }

    dt {
      float: left;
      clear: left;
      width: auto;
      min-width: 100px;

      @include media(tablet){
        min-width: 120px;
      }

      &:after {
        content: ':';
      }
    }
  }

  .breadcrumb-trail {
    margin:10px 0 0 0;
    padding:0 0;
    border-bottom: 1px solid $border-colour;
    @extend %contain-floats;

    strong {
      font-weight:bold;
    }

    li {
      @include core-16;
      background-image: url(image-path("separator.png"));
      background-position: 100% 10%;
      background-repeat: no-repeat;
      float: left;
      list-style: none;
      margin-left: 5px;
      margin-right: 5px;
      padding: 0 20px 10px 0;

      @include media(tablet){
        background-position: 100% 28%;
      }

      @include device-pixel-ratio() {
        background-image: image-url("separator-2x.png");
        background-size: 6px 11px;
      }

      &.last-child {
        background-image:none;
        color: $secondary-text-colour;
      }
    }
  }

  .manual-section {
    margin-top: $gutter-half;

    @include media(tablet){
      margin-top: $gutter;
    }

    .section-content {
      margin-top: $gutter-half;
       @include media(tablet){
         margin-top: $gutter;

         margin-left:$gutter*2;
       }
    }

    h2 {
      @include heading-27;
      .title {
        font-weight:bold;
        padding-left:$gutter-one-third;
      }
    }

    h3 {
      @include heading-24;
    }
  }

  .manual-subsection {
    border-bottom: 1px solid $border-colour;
    @include core-19;

    padding:$gutter-half 0 $gutter 0;

    @include media(tablet) {
      padding:$gutter 0 $gutter*2 0;
    }

    .subsection-title {
      padding-bottom:$gutter-half;

      @include media(tablet) {
        padding-bottom:$gutter;
      }

      .subsection-id {
        color: $secondary-text-colour;
        padding-right: $gutter-half;
        @include core-24;

        @include media(tablet){
           padding-right: $gutter;
           float: left;
         }
      }

      a {
        text-decoration:none;
        color: $text-colour;
        cursor:default;
      }

      h4 {
        @include bold-24;
        padding-top:$gutter-one-third;

        @include media(tablet){
          margin-left:130px;
          padding-top:0;
        }
      }
    }

    .subsection-body{
       @include media(tablet) {
         margin-left:130px;
       }
    }

    .js-enabled &.closed {
      padding: $gutter-one-third 0;
      cursor: pointer;

      .subsection-title {
        padding-bottom:0;
      }

      .subsection-id {
        @include core-19;
      }

      a {
        color: $link-colour;
        cursor: pointer;
      }

      h4 {
        @include bold-19;
        padding-top:0;
      }

      .subsection-body {
        position:absolute;
        left:-9999px;
      }
    }
  }
}
